# Python
flask/
werkzeug/
blinker/
click/
jinja2/
markupsafe/
itsdangerous/
flask_cors/
venv/
bin/
__pycache__/
*.pyc
*.swp

# Backups
*.bak*
*.backup*
web/

# Outros
data/
index.html
videos.html
videos.html.bak*
frontend_server.py
